@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=latin,cyrillic);
.area {
  margin: 0 auto;
  width: 1140px;
}
.row {
  margin-left: -18px;
  margin-right: -18px;
}
.col1 {
  width: 8.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col2 {
  width: 16.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col3 {
  width: 25%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col4 {
  width: 33.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col5 {
  width: 41.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col6 {
  width: 50%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col7 {
  width: 58.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col8 {
  width: 66.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col9 {
  width: 75%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col10 {
  width: 83.33333333%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col11 {
  width: 91.66666667%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.col12 {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
.colbg {
  height: 34px;
}
.colbg--blue {
  background-color: #b9d0f9;
}
h1,
.h1 {
  font-size: 32px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2,
.h2 {
  font-size: 28px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3,
.h3 {
  font-size: 22px;
  color: #333333;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
h4,
.h4 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 15px;
  color: #333333;
  line-height: 22pt;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
hr {
  margin-bottom: 50px;
}
a {
  color: darkorange;
}
a:hover {
  text-decoration: none;
}
.btn {
  width: 130px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a0d468;
  margin: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #95cb5c;
}
.btn:hover {
  background-color: #addf7a;
  box-shadow: 0 3px 0 0 #95cb5c;
}
.btn:active {
  background-color: #9cd066;
  box-shadow: none;
  box-sizing: content-box;
  top: 3px;
  position: relative;
}
.btn--small {
  width: 90px;
  height: 25px;
  line-height: 25px;
}
.btn--grey {
  background-color: #536167;
  box-shadow: 0 3px 0 0 #3b4549;
}
.btn--grey:hover {
  background-color: #677980;
  box-shadow: 0 3px 0 0 #56656b;
}
.btn--grey:active {
  background-color: #536167;
  box-shadow: none;
  box-sizing: content-box;
}
.btn--red {
  background-color: #fc6e51;
  box-shadow: 0 3px 0 0 #e3573b;
}
.btn--red:hover {
  background-color: #fb7f65;
  box-shadow: 0 3px 0 0 #ec694f;
}
.btn--red:active {
  background-color: #fc6e51;
  box-shadow: none;
  box-sizing: content-box;
}
.pic {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.pic--loop:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  width: 258px;
  height: 258px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  background: url('../pict/zoom.png') no-repeat center center rgba(0, 0, 0, 0.5);
}
.pic--loop:hover:after {
  display: block;
  cursor: pointer;
}
.pic--loop:active {
  width: 258px;
  height: 258px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.slide-up {
  width: 258px;
  height: 258px;
  position: relative;
  overflow: hidden;
}
.slide-up a {
  text-decoration: none;
  text-align: center;
}
.slide-up:hover .slide-text {
  bottom: 0;
  border-radius: 5px;
}
.slide-text {
  transition: 0.9s;
  position: absolute;
  bottom: -100px;
  background: rgba(0, 0, 0, 0.5);
}
.slide-text p {
  color: #fff;
  padding: 10px 10px 5px;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
}
.double-side {
  width: 258px;
  height: 258px;
}
.double-side:hover .double-block {
  transform: rotateY(180deg);
}
.double-front,
.double-side__text {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.double-block {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.double-front {
  z-index: 2;
  transform: rotateY(0deg);
}
.double-side__text {
  transform: rotateY(180deg);
  padding-top: 100px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}
.double-side__text p {
  background-color: #fff;
  height: 117px;
}
.tooltip {
  height: 100px;
}
.tooltip-inner {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 244px;
  overflow: hidden;
}
.tooltip-inner:hover {
  padding-bottom: 65px;
  transition: padding-bottom 0.7s;
}
.tooltip-text {
  color: #fc6e51;
  font-size: 14px;
  margin: 0;
  text-align: center;
  background-color: #fff;
}
.tooltip-hider {
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
.tooltip-hider:before,
.tooltip-hider:after {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .7s;
  left: 50%;
}
.tooltip-hider:before {
  content: attr(data-title);
  background-color: #fc6e51;
  top: 30px;
  width: 180px;
  padding: 8px;
  margin-left: -100px;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  color: #fff;
}
.tooltip-hider:after {
  content: "";
  border-bottom: 10px solid #fc6e51;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  top: 20px;
}
.tooltip-hider:hover:before,
.tooltip-hider:hover:after {
  opacity: 1;
  visibility: visible;
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}
.inner {
  width: 440px;
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  /*border:  5px solid #fff;*/
  left: 0px;
  /*background: #fff;*/
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../js/jquery.bxslider/images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffcabf;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fc6e51;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 200px;
  background: url(../pict/arrow-prev.png) no-repeat center;
}
.bx-wrapper .bx-next {
  right: 200px;
  background: url(../pict/arrow-next.png) no-repeat center;
}
.bx-wrapper .bx-prev:hover {
  /*background-position: 0 0;*/
}
.bx-wrapper .bx-next:hover {
  /*background-position: -43px 0;*/
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 106%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../js/jquery.bxslider/images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../js/jquery.bxslider/images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
