.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.col-1 {
  width: 100%;
}
.col-1 {
  width: 50%;
}
.col-2 {
  width: 100%;
}
.col-1 {
  width: 33.33333333%;
}
.col-2 {
  width: 66.66666667%;
}
.col-3 {
  width: 100%;
}
.col-1 {
  width: 25%;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 75%;
}
.col-4 {
  width: 100%;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 40%;
}
.col-3 {
  width: 60%;
}
.col-4 {
  width: 80%;
}
.col-5 {
  width: 100%;
}
.col-1 {
  width: 16.66666667%;
}
.col-2 {
  width: 33.33333333%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66666667%;
}
.col-5 {
  width: 83.33333333%;
}
.col-6 {
  width: 100%;
}
.col-1 {
  width: 14.28571429%;
}
.col-2 {
  width: 28.57142857%;
}
.col-3 {
  width: 42.85714286%;
}
.col-4 {
  width: 57.14285714%;
}
.col-5 {
  width: 71.42857143%;
}
.col-6 {
  width: 85.71428571%;
}
.col-7 {
  width: 100%;
}
.col-1 {
  width: 12.5%;
}
.col-2 {
  width: 25%;
}
.col-3 {
  width: 37.5%;
}
.col-4 {
  width: 50%;
}
.col-5 {
  width: 62.5%;
}
.col-6 {
  width: 75%;
}
.col-7 {
  width: 87.5%;
}
.col-8 {
  width: 100%;
}
.col-1 {
  width: 11.11111111%;
}
.col-2 {
  width: 22.22222222%;
}
.col-3 {
  width: 33.33333333%;
}
.col-4 {
  width: 44.44444444%;
}
.col-5 {
  width: 55.55555556%;
}
.col-6 {
  width: 66.66666667%;
}
.col-7 {
  width: 77.77777778%;
}
.col-8 {
  width: 88.88888889%;
}
.col-9 {
  width: 100%;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
.col-1 {
  width: 9.09090909%;
}
.col-2 {
  width: 18.18181818%;
}
.col-3 {
  width: 27.27272727%;
}
.col-4 {
  width: 36.36363636%;
}
.col-5 {
  width: 45.45454545%;
}
.col-6 {
  width: 54.54545455%;
}
.col-7 {
  width: 63.63636364%;
}
.col-8 {
  width: 72.72727273%;
}
.col-9 {
  width: 81.81818182%;
}
.col-10 {
  width: 90.90909091%;
}
.col-11 {
  width: 100%;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.row:after {
  clear: both;
}
.row:before {
  display: table;
  content: " ";
}
