.area {
  width: 1140px;
  margin: 0 auto;
}
.row {
  margin-left: -36px;
  margin-right: -36px;
}
.col {
  padding-left: 36px;
  padding-right: 36px;
  background-color: red;
  float: left;
}
.col12 {
  width: 100%;
}
.col11 {
  width: 91.66666667%;
}
.col10 {
  width: 83.33333333%;
}
.col9 {
  width: 75%;
}
.col8 {
  width: 66.66666667%;
}
.col7 {
  width: 58.33333333%;
}
.col6 {
  width: 50%;
}
.col5 {
  width: 41.66666667%;
}
.col4 {
  width: 33.33333333%;
}
.col3 {
  width: 25%;
}
.col2 {
  width: 16.66666667%;
  background-color: orange;
}
.col1 {
  width: 8.33333333%;
  background-color: orange;
}
