.btn{
	color:@btn-color;
	display:inline-block;
	text-align:center;
	text-decoration:none;
	margin:10px auto;
	vertical-align:top;
	border-bottom:@btn-border-width solid @btn-default-border;
	border-radius:@border-radius-large;

	a&:hover{
		color:@btn-color;
	}

	&--large{
		padding:7px 10px;
		font-size:@font-size-base;
		min-width:120px;
	}

	&--small{
		padding:5px 5px;
		font-size:@font-size-small;
		min-width:100px;
	}

	&-default{
		.btn--modificator(@btn-default;@btn-default-border;@btn-default-hover;@btn-default-hover-border;@btn-default-onclick);
	}

	&-info{
		.btn--modificator(@btn-info;@btn-info-border;@btn-info-hover;@btn-info-hover-border;@btn-info-onclick);
	}
	
	&-error{
		.btn--modificator(@btn-error;@btn-error-border;@btn-error-hover;@btn-error-hover-border;@btn-error-onclick);
	}

	& + &{
		margin-left:10px;
	}

	}

	.btn--modificator(@btn-bg;@btn-border;@btn-hover;@btn-hover-border;@btn-onclick){
		background-color:@btn-bg;
		
		
		border-color:@btn-border;

		&:hover, &__hover{
			background-color:@btn-hover;
			border-bottom-color:@btn-hover-border;
		}

		&:active, &__onclick{
			background-color:@btn-onclick;
			border:0px;
			position:relative;
			top:@btn-border-width;
		}

		
	}

