.tooltip-layout{
	position:relative;
	display:inline-block;

	.tooltip-text{
		padding:@tooltip-padding;
		color:@tooltip-color;
		position:absolute;
		left:50%;
		width:200px;
		opacity:0;
		background-color:@tooltip-bg;
		border-radius:@tooltip-border-radius;
		top:100%;
		box-sizing:border-box;
		margin-left:-100px;
		text-align:center;
		font-size:@font-size-small;
	}

	&:hover .tooltip-text{
		opacity:1;
		transition-duration: 0.5s;
	}

	.triangle-down {
   		width: 0;
    	height: 0;
    	border-left: @tooltip-arrow-width solid transparent;
    	border-right: @tooltip-arrow-width solid transparent;
    	border-bottom: @tooltip-arrow-width solid #FC6E51;
    	position:absolute;
    	top:-@tooltip-arrow-width;
    	left:50%;
    	margin-left:-@tooltip-arrow-width/2;
    	box-sizing:border-box;
	}
}